/*div {*/
    /*width: 100px;*/
    /*float: left;*/
/*}*/

/*#hello {*/
    /*background-color: #00bcff;*/
/*}*/

/*#goodbye {*/
    /*background-color: yellow;*/
/*}*/
img {
   /*width: 100px;*/
   width: 30%;
   float: left;
   margin: 1.66%;
}
