<!--include header template-->
<% include partials/header %>
<link rel="stylesheet" href="app.css">
<h1>You fell in love with: <%= thingVar.toUpperCase()%></h1>
<% if(thingVar.toLowerCase() === "rusty"){%>
    <p>GOOD CHOICE! RUSTY IS THE BEST!</p>
<% } %>
<p>P.S. this is the love.js file</p>
<!--include footer template-->
<% include partials/footer %>
